* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
body {
    max-width: 1600px;
    margin: auto;
}

/* COMMON CLASSES*/
.flex {
    display: flex;
}
.poz-absolute {
    position: absolute;
}


/* HEAD */
header {
    background: url("../img/Layer96.png") no-repeat;
    background-size: cover;
}
header .head-header {
    padding: 30px 0 18px 227px;
    border-bottom: 1px solid #767676;
}
header .head-header .blank {
    width: 67px;
    height: 67px;
    background: white;
}
header .head-header img {
    width: auto;
    transform: translate(-12px, -8px);
    margin-right: 226px;
    height: 67px;
}
header .head-header nav .navbar {
    list-style: none;

}
header .head-header nav .navbar .nav-item {
    margin-top: 16px;
}
header .head-header nav .navbar .nav-item a,
header .head-header nav .navbar .nav-item span {
    font-size: 20px;
    padding: 0 11px 40px 16px;
    margin-right: 22px;
    color: white;
}
header .head-header nav .navbar .nav-item a:hover {
    border-bottom: 6px solid #11749e;
}
header .head-header .contacts {
    margin: 15px 0 0 54px;
}
header .head-header .contacts a {
    color: white;
    font-size: 20px;
    margin-right: 22px;
}
header .head-header .contacts .fa:last-child {
    margin-right: 0;
}

header .head-content {
    padding-top: 275px;
}

header .head-content * {
    text-align: center;
}
header .head-content .head-main-header {
    font-size: 150px;
}
header .head-content .head-main-subheader {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 19px;
    margin-bottom: 118px;
}
header .head-content .head-main-subheader label {
    color: #11749e;
}
header .head-content .scroll-down-text {
    font-size: 13px;
    margin-bottom: 22px;
    font-family: "Open Sans", sans-serif;
}
header .head-content .scroll-down-button a {
    padding: 20px 24px;
    border: 1px solid white;
    border-radius: 50px;
    margin-bottom: 70px;
}
/* HEAD ENDS */
/* MAIN SECTION*/
/* FEATURES */
main {
    background-color: #11749e;
    text-align: center;
}
main .blue-zone #awesome {
    padding: 0 150px;
}
main .blue-zone .logo {
    position: relative;
    padding-top: 345px;
}
main .blue-zone .logo .w{
    color: #3c8daf;
    font-size: 247px;
    font-weight: bold;
    top: 30px;
    margin-left: -123px;
}
main .blue-zone .logo .through {
    font-size: 37px;
    text-transform: uppercase;
    top: 150px;
    margin-left: -288px;
}
main .blue-zone .features .feature-item {
    flex-direction: column;
    padding-top: 158px;
    margin: 0 40px 130px 0;
}
main .blue-zone .features .feature-item:last-child {
    margin-right: 0;
}
main .blue-zone .features .feature-item .ellipse {
    border-radius: 50%;
    background-color: rgb(46, 133, 170);
    position: absolute;
    top: 1224px;
    width: 133px;
    height: 133px;
    z-index: 152;
    margin-left: 80px;
 }
main .blue-zone .features .feature-item .ellipse img {
    margin-top: 50px;
}
main .blue-zone .features .feature-item .feature-item-content h4 {
    font-size: 18px;
    margin-bottom: 24px;
}
main .blue-zone .features .feature-item .feature-item-content p {
    font-size: 15px;
}
/* FEATURES ENDS*/
/* ARTICLES */
main .blue-zone .articles {
    display: grid;
    grid-template-columns: 50% 50%;
}
main .blue-zone .articles .article {
    text-align: left;
    font-size: 15px;
}
main .blue-zone .articles .article label {
    font-size: 13px;
}
main .blue-zone .articles .article h3 {
    font-size: 25px;
    margin-top: 10px;
}
main .blue-zone .articles .article p {
    margin-top: 20px;
}
main .blue-zone .articles .article-odd {
    background-color: #222222;
    padding: 80px 116px 110px 210px;
}
main .blue-zone .articles .article-even {
    background-color: #f3f3f3;
    padding: 80px 210px 110px 116px;
}
main .blue-zone .articles .article-even * {
    color: #222222;
}











